@using Nwd.BackOffice.Model;
@model Album

@{
    ViewBag.Title = "Album";
}

<h2>Album</h2>

<ul>
    <li>
        @Model.Title
    </li>
    <li>
        @Model.Type
    </li>
    <li>
        @Model.Artist
    </li>
</ul>
<h3>
    Tracks : 
</h3>
<ul>
    
    @foreach (var track in Model.Tracks)
    {
         HttpPostedFileBase file = track.File;
         String name = file.FileName;
         <li>name</li>
    }
</ul>

@Html.ActionLink("Editer l'album", "EditAlbum", "Admin", new {id = Model.Id}, null)